mixin header(active)
  header.header
    .container.container_header
        .logo
            .logo__img
              a(href="https://sfedu.ru" target="_blank" rel="noopener noreferrer" title="Сайт ЮФУ")
                img(src="img/header/logo.png" alt="ЮФУ")
            .logo__text
              a(href="#" title="Главная") Museum of Soil Science
        .main-menu
          .main-menu__mobile-button
            span
          .main-menu__body
            ul.main-menu__list
                li.main-menu__item(class=active == 'home' ? 'main-menu__item_active' : '')
                  a(href="index.html") Главная
                li.main-menu__item(class=active == 'expo' ? 'main-menu__item_active' : '')
                  a(href="expo.html") Экспозиция
                li.main-menu__item(class=active == 'photos' ? 'main-menu__item_active' : '')
                  a(href="photos.html") Фотоархив
                li.main-menu__item(class=active == 'history' ? 'main-menu__item_active' : '')
                  a(href="history.html") История
                li.main-menu__item(class=active == 'contacts' ? 'main-menu__item_active' : '')
                  a(href="contacts.html") Контакты